

<h2>{{hero.name}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name | uppercase}}</div>
<div>
  <label>name:
    <input  [(ngModel)]="hero.name"  type="text" placeholder="name" >
  </label>
</div>


